body{
    margin:0;
    padding:0;
    display:flex;
    width:100vw;
    height:100vh;
    flex-direction:column;
    overflow:hidden;         
}

 #output,#editor{
    min-width: 100vw;  
    min-height:100%;
    box-sizing: border-box;
    display:block;
    overflow-y:hidden;
    padding:10px;
}

main{
    display:flex;
    overflow-x:hidden;
    flex-direction:row;
    height:100%;
}

nav{
    display:flex;
    flex-direction:row;
}

nav>button{
    width:50%;
    text-align:center;
    background-color:black;
    padding:10px;
    color:white;
    display: block;
    font-weight:900;
    font-size: 1.3em;
    border:transparent;
}

nav>.active-button{
    color:dodgerblue;
    text-shadow: 0 0 20px dodgerblue;
    border:1px inset dodgerblue;
}

#tab-container{
    width:100vw;
    display:flex;
    flex-direction:row;
    overflow-x:hidden;
    height:100%;
}

#copy{
    position: fixed;
    background-color: black;
    color:dodgerblue;
    font-size: 1.3em;
    padding: 0.5em;
    bottom:1rem;
    right:1rem;
    border:0.4rem solid black;
    border-radius: 0.4rem;
    user-select: none;
    font-weight: 900;
    text-shadow: 0 0 20px dodgerblue;
}